/.idea/*
/venv/*
/old/*
/out/*
/resources/*
!/resources/sample.json

# Tools that are specific to my system.
!/tools/asterixdb/supervisord.conf
!/tools/asterixdb/cc.conf
/tools/asterixdb/*
/tools/couchbase/*
/tools/mongodb/*
/tools/analysis/*
/tools/config_sink.py
